<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306740350288-6t21ivup8ro2fm5f22nc1ismundftaem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306740350288-6t21ivup8ro2fm5f22nc1ismundftaem</string>
	<key>API_KEY</key>
	<string>AIzaSyB6-UbhTc8Y2nwU-aMBxuJWcjorFokxuVg</string>
	<key>GCM_SENDER_ID</key>
	<string>306740350288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notewise.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notewise-2b046</string>
	<key>STORAGE_BUCKET</key>
	<string>notewise-2b046.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306740350288:ios:449b54541b416379dcb055</string>
</dict>
</plist>